// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
$colors: (
    primary: #b27de8,
    secondary: #8d4fca,
    light1: #f5f2fe,
    light2: #d1cdde,
    dark1: #232226,
    dark2: #2e2d33,
    warn: #ffb829,
    danger: #980000,
);