<ion-header>
  <ion-toolbar>
    <div class="header">
      <h2>Weather App</h2>
    </div>
    <div class="weather-input">
      <ion-list>
        <ion-item>
          <ion-input [(ngModel)]="cityName" placeholder="Enter city name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-button class="searchBtn" (click)="onSearchClick()">Search</ion-button>
        </ion-item>
      </ion-list>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="weather-data">
      <div class="weather-center">
        <div class="card">
          <h4>Now</h4>
          <h2>{{ temperature }}&deg;C</h2>
          <img [src]="weatherIcon" alt="Weather Icon">
          <hr>
          <p class="location-title">{{ locateName }}</p>
          <div class="card-footer">
            <div class="current-conditions">
              <div class="humidity-card">
                <div class="humi-header">
                  <p>Humidity</p>
                </div>
                <div class="humi-items">
                  <h4>{{ humidity }}%</h4>
                </div>
              </div>
              <div class="wind-card">
                <div class="wind-header">
                  <p>Wind Speed</p>
                </div>
                <div class="wind-items">
                  <h4>{{ windSpeed }}m/s</h4>
                </div>
              </div>
            </div>
          </div>

          <div class="forecast-buttons">
            <ion-button (click)="showHourlyForecast()">Hourly Forecast</ion-button>
            <ion-button (click)="showFiveDayForecast()">5-Day Forecast</ion-button>
          </div>
        </div>

        <div class="card" *ngIf="isHourlyForecastVisible">
          <h2 class="hourly-label" *ngIf="hourlyWeather.length > 0">Today At</h2>
          <div class="hourly-forecast" *ngIf="hourlyWeather.length > 0">
            <div class="hourly-item" *ngFor="let hour of hourlyWeather">
              <div class="details">
                <p>{{ hour.time }}</p>
                <img [src]="hour.icon" alt="Weather Icon">
                <p>{{ hour.temp }}&deg;C</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card" *ngIf="isFiveDayForecastVisible">
          <h2 class="section-label" *ngIf="fiveDayForecast.length > 0">5-Day Forecast</h2>
          <div class="day-forecast" *ngIf="fiveDayForecast.length > 0">
            <div class="forecast-item" *ngFor="let day of fiveDayForecast">
              <p>{{ day.date }}</p>
              <img [src]="day.icon" alt="Weather Icon" />
              <p>{{ day.temp }}&deg;C</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
</ion-content>